@import './style';
#project{
	@include centered;
	// @include main-frame;
	flex-direction:column;
	max-width:1024px;
	margin: 0 auto;
	h2{
		margin-bottom: 5rem;
		@include phone(){
			margin-bottom: 3rem;
		}
		@include iphone5(){
			font-size:2.4rem;
		}
	}
	img{
		display: block;
		margin: 0 auto;
		max-width: 800px;
		margin-bottom: 5rem;
		@include phone(){
			max-width:100vw;
		}
		@include ipad(){
			max-width:100vw;
		}
	}
	div.project-link, 
	div.tech,
	div.project-description{
		margin-bottom:5rem;
	}
	div.tech,
	div.project-description{
		width:100%;
	}
	a{
		margin-right:5rem;
	}
	a.link{
		margin-left:5rem;
	}
	a.link::before,
	a.github::before{
		width: 28px;
		height: 28px;
		background-size: 28px;
	}
	ul{
		display: flex;
		justify-content: space-between;
		margin-bottom:3rem;
		@include phone(){
			flex-direction:column;	
		}
		@include ipad(){
			flex-wrap:wrap;
		}
	}
	li{
		font-size: 1.8rem;
		padding:0 3.2rem;
		display:inline-block;
		@include ipad(){
			margin-bottom:1.2rem;
			padding:2rem;
		}
		// &::before{
		// 	content: '';
		// 	display: inline-block;
		// 	background-color: $light-color;
		// 	width: 1rem;
		// 	height: 1rem;
		// 	border-radius: 50%;
		// 	margin-right: 2rem;
		// 	transform:translateY(-1px);
		// }
	}
	div.project-description{
		p{
			padding:0 3.2rem;
			font-size:2.4rem;
		}
	}
	
	
}