
@import url('https://fonts.googleapis.com/css?family=Poppins:100,400,600,700');
@import './mixins';
$base-color:#666666;
$light-color:#adadad;

*{
	margin:0;
	padding:0;
	font-size:62.5%;
}
body{
	font-size:1.6rem;
	color:$base-color;
	font-family: 'Poppins', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	max-width: 1440px;
	margin:0 auto;
	overflow-x: hidden;
}

a{
	text-decoration: none;
	color:$light-color;
}

p{
	font-size:1.6rem;
}

h2{
	text-shadow: 0 0 1px #dfdfdf, 4px 4px 2px #dfdfdf;
	font-size:4rem;
	margin-bottom:1.6rem;
	@include phone(){
		font-size:3.2rem;
	}
}

