
@import url('https://fonts.googleapis.com/css?family=Poppins:100,400,600,700');
*{
	margin:0;
	padding:0;
}
body{
	font-size:62.5%;
	color:#666666;
	font-family: 'Poppins', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

a{
	text-decoration: none;
	color:#666666;
}

p{
	font-size:1.6rem;
}

h2{
	font-size:4rem;
	margin-bottom:1.6rem;
}

